<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Project</title>
</head>
<body>
<section>
    <div class="card mr-3 ml-2">
        <div class="card-body">
            <h1 class="text-center">Project</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">RequestedAmount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${projects}">

<!--                        <th scope="row">-->
<!--                            <a href="#" th:href="@{'/user/project/'+{p.id}}">-->
<!--                                <span th:text="${'PR-'+p.id}">Mark</span>-->
<!--                            </a>-->
<!--                        </th>-->

                    <th scope="row" th:text="${'PR-'+p.id}">1</th>

<!--                        <td th:text="${p.title}">Mark</td>-->

                        <td>
                            <a href="#" th:href="@{'/user/project/detail/'+${p.id}}">
                                <span th:text="${p.title}">Mark</span>
                            </a>
                        </td>

                        <td th:text="${p.description}">Otto</td>
                        <td th:text="${p.requestedAmount}">@mdo</td>
                        <td th:text="${p.status}">Otto</td>
<!--                        <td th:text="${#dates.format(p.createdDate, 'dd-MM-yyyy')}">Created Date</td>-->
<!--                        <td th:text="${#dates.format(p.endDate, 'dd-MM-yyyy')}">End Date</td>-->
                        <td>
<!--                            <a th:href="@{'/user/delete/'+${p.id}}" class="btn btn-danger btn-sm">Delete</a>-->
                            <a href="#" th:onclick="|deleteProject(${p.id})|" class="btn btn-danger btn-sm">Delete</a>

                            <form method="get" th:action="@{'/user/project/'+${p.id}}+'/details'">
                                <button type="submit" class="btn btn-primary btn-sm">Update</button>
                            </form>

                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/project/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>

                    <li th:classappend="${currentPage==i-1}?'active':''" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/project/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>

                    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/project/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>

</body>
</html>