<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center ">
    <div class="text-center">
        <h1 class="font-weight-bold">Crowd Funding</h1>
        <p>
            An application that crowdfunds innovative projects around the world.

            This application will be used by innovator (that post their projects) and public donors (that fund
            the projects) Innovators can create projects, request contributions to their projects, and also browse their
            previous projects.

            Public donors are able to browse projects from innovators and contribute to fund the projects.

            When donation on a project reaches requested amount, the project is archived and donation is
            transferred to innovator
        </p>
        <div class="btn bg-primary">
            <a th:href="@{/project}"  style="color: white; text-decoration: none;">View Project</a>
        </div>
    </div>
</section>

</body>
</html>